<p id="notice"><%= notice %></p>

<p>
  <strong>Balance:</strong>
  <%= @small_emergency.balance %>
</p>

<%= link_to 'Edit', edit_small_emergency_path(@small_emergency) %> |
<%= link_to 'Back', small_emergencies_path %>
