<h3>Questionnaire</h3>

<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputFirsName4">First Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="First Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputLastName4">Last Name</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Last Name">
    </div>
    <div class="form-group col-md-6">
      <label for="inputEmail4">Email</label>
      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Phone Number</label>
      <input type="tel" class="form-control" id="inputPassword4" placeholder="Phone Number">
    </div>
  </div>
  <div class="form-group">
    <div class="form-group col-md-6">
      <label for="inputAddress">Address</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>
  </div>
  <div class="form-group">
    <div class="form-group col-md-6">
      <label for="inputAddress2">Address 2</label>
      <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputCity">City</label>
      <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-4">
      <label for="inputState">State</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option>...</option>
      </select>
    </div>
    <div class="form-group col-md-2">
      <label for="inputZip">Zip</label>
      <input type="text" class="form-control" id="inputZip">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">Occupation</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Occupation">
    </div>
    <div class="form-group col-md-6">
      <label>Date of Birth</label>
      <input type="date" class="form-control" id="exampleInputDOB1">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">What's your annual household income before tax?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Annual household income?">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">How much is your household paycheck?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Household paycheck?">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">How ofter do you receive the paycheck?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Every two week, Twice a month, or other">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">What's your total credit card debt?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Total credit card debt?">
    </div>

    <div class="form-group col-md-6">
      <label for="inputFirsName4">What's your total consumer debt? </label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Medical or tax debts, car or student loans, etc.,">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">What's your total mortgage balance?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Total mortgage balance">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">How much do you contribute to retirment?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="401k, Ira, and others">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">How much do you contribute to college savings?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="529, ESA, and others">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">How much cash do you have?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Liquid cash on hand">
    </div>
    <div class="form-group col-md-6">
      <label for="inputFirsName4">How do you wanna win with money?</label>
      <input type="text" class="form-control" id="inputEmail4" placeholder="Lets do this!!!">
    </div>
  </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Yes, I would like to receive occasional reminders.
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">SUBMIT</button>
</form>
</br>
</br>
