<div class="center jumbotron">
  <h1>xenDOLLAR</h1>
</div>

<h3>Where Do I Begin?</h3>

<div class="well">
  <div style="overflow: hidden;">
    <ul class="list-group list-group-flush form-group">
      <div class="form-group col-md-12">
        <li class="list-group-item">First - you should do is to answer the initial questions. <%= link_to "Click here", new_question_path, class: 'button-link' %></li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">Second - you should enter information of all the credit card debts you carry. <%= link_to "Click here", new_credit_card_debt_path, class: 'button-link' %></li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">Lastly - you should enter informatino of all other consumer debts you carry. <%= link_to "Click here", new_consumer_debt_path, class: 'button-link' %></li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">We will take care of the rest from there.</li>
      </div>
    </ul>
  </div>
</div>

<h3>xenDOLLAR Levels</h3>

<div class="well">
  <div style="overflow: hidden;">
    <ul class="list-group list-group-flush form-group">
      <div class="form-group col-md-12">
        <li class="list-group-item">1. On every payday 10% of your paycheck is transferred from your checking account and gets stashed. When it reaches $2000 it plugs into the rest of the steps. The saving percentage (10% initially) increases by a percentage point every six months. </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">2. Leave $1000 for small emergency fund. Puts the rest into level 3. For rest of the level as soon as the stash reaches $2000 it will leave $1000 in the small emergency fund and take the rest and plugs into the level. </li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">3. Pay off credit card debts aggressively. (Smallest to largest)</li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">4. Pay off other consumer debts (car payments, student loans, medical payments). (Smallest to largest)</li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">5. Create $15,000 of big emergency fund. For this level as soon as the stash reaches $2000 it will leave $1000 and transfer the rest to user’s savings account until it reaches $15000.</li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">6. Put into roth ira then regular ira. If the amount exceeds the max roth ira it puts the rest of the money into traditional ira. For this level everytime the stash reaches $1000 it will transfer half into roth ira and other investments and half into mortgage principal.</li>
      </div>
      <div class="form-group col-md-12">
        <li class="list-group-item">7. Start paying off mortgage aggressively.</li>
      </div>
    </ul>
    <%= link_to "LETS DO THIS!!!", new_question_path, class: 'button' %>
  </div>
</div>
