<p id="notice"><%= notice %></p>

<p>
  <strong>Balance:</strong>
  <%= @big_emergency.balance %>
</p>

<%= link_to 'Edit', edit_big_emergency_path(@big_emergency) %> |
<%= link_to 'Back', big_emergencies_path %>
